.overlayImage1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/Image/Overlay1.png");
  border-radius: 10px;
}

.overlayImage2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/Image/Overlay2.png");
  border-radius: 10px;
}
